<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

    .tomato {
        color: tomato;
    }

</style>

<form name="pokemonForm" novalidate>

    <div ng-show="pokemonForm.inputName.$invalid && !pokemonForm.inputName.$pristine" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Ошибка:</span>
        Поле имя должно быть заполнено, и первая буква должна быть заглавная, пример:  Маша!
    </div>


    <div class="form-group">
        <label>Имя: </label><span class="glyphicon glyphicon-asterisk tomato" aria-hidden="true"></span>

        <input class="form-control" name="inputName" ng-pattern="'\^[A-ZА-Я].*'" data-ng-model="vm.newPokemon.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" data-ng-model="vm.newPokemon.weight" type="number" placeholder="Вес">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Активен
        </label>
    </div>
    <button type="submit" class="btn btn-default" data-ng-click="vm.addPokemon(vm.newPokemon)"
            data-ng-disabled="pokemonForm.$invalid">Добавить</button>
</form>
<!--

<p>$error = {{pokemonForm.inputName.$error}}</p>
<p>$valid = {{pokemonForm.inputName.$valid}}</p>
<p>$pristine = {{pokemonForm.inputName.$pristine}}</p>

<pre>input vm.newPokemon.name = {{vm.newPokemon.name | json}}</pre>
-->
